

@font-face {
    font-family:RubikRegular ; /* Гарнитура шрифта */
    src: url(/font/RubikRegular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family:HeinrichScript ; /* Гарнитура шрифта */
    src: url(/font/HeinrichScript.ttf); /* Путь к файлу со шрифтом */
}

html,
body {
  height: 100%;
  font-family:RubikRegular;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
}

.a{border:1px solid white;}
.ff{background-color:#2F2F41;
color:white;}
.lg{font-size:15pt; 
font-style:italic;
padding-top: 50px;
    padding-right: 100px;
   font-family:HeinrichScript;
}
.container-field{overflow:hidden;}
.lgl {text-align:left;   padding-left: 100px;}
.lgr {text-align:right; }
