

@font-face {
    font-family:RubikRegular ; /* Гарнитура шрифта */
    src: url(font/RubikRegular.ttf); /* Путь к файлу со шрифтом */
   }

html,
body {
  height: 100%;
  font-family:RubikRegular;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
}

.a{border:1px solid white;}
.ff{background-color:#2F2F41;
color:white;}
.lg{font-size:13pt; 
font-style:italic;
padding-top: 100px;
    padding-right: 100px;
      
}
.container-field{overflow:hidden;}
